html {
    width: 60em;
    margin: 0 auto;
}

body {
    margin: 0;
}

ul:empty {
    padding: 15px;

}
li{

 list-style-type: circle;
}

}
h1 {
  text-decoration: skyblue wavy underline;
  font-weight: bold;
}
